
.artistTable {
    border: 1px solid black;
}

.artistTable th {
    text-align: center;
}

.artistTable td, .artistTable th {
    width: 120px;
    height: 30px;
    border: 1px solid black;
}

.selectBox {
    width: 120px;
}

/*---------------------------------------*/
/* Trendy orange */
.AccentColor
{
    color: #ED7F09;
    font-weight: bold;
}

/* FaceBook blue */
.BaseColor
{
    color: #3B5997;
    background-color: White;
}

