/*----------------------------------------------*/
:root {
    --mainColor: #3B5997; /* FaceBook blue */
    --accentColor: #ED7F09; /* Trendy orange */
}

/*----------------------------------------------*/
/* Trendy orange */
.AccentColor
{
    color: #ED7F09;
    font-weight: bold;
}

/* FaceBook blue */
.BaseColor
{
    color: #3B5997;
    background-color: White;
}
 
.newspaper
{
    -webkit-column-count: 3;    /* Chrome, Safari, Opera, Vivaldi, Brave */
       -moz-column-count: 3;    /* Firefox */
            column-count: 3;    /* Edge */
}

.AlbumTextArea
{
    font-size: 16px;
}

.SelectionTD 
{
    border: 1px solid black;
}

body, textarea {
    font-family: "Times New Roman";
    font-size: 20px;
}

input {
    font-family: "Times New Roman";
    font-size: 20px;
}

#artist
{
    font-weight: bold;
    font-size: 150%;
} 
          
#description
{
    border: none; 
    height: 75px; 
    width: 100%; 
}

#output_json
{
    height: 600px;
    width: 850px;
}

