<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <appSettings>

      <!-- Common for all applications: -->
      <add key="DEVELOPER_SERVER_IP"    value="127.0.0.1"/>
      <add key="DEVELOPER_SERVER_IP2"   value="::1" />
      <add key="DEVELOPER_CLIENT_PC_IP" value="71.232.134.255"/>
      <add key="WEBMASTER_HOST_EMAIL"   value="workingweb@workingweb.info"/>

  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <trust level="Full" originUrl=""/>

    <!-- This section enables/disables caching for the entire application: -->
    <caching>
      <outputCache enableOutputCache = "true" >
      </outputCache>
    </caching>

  </system.web>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
</configuration>